body {
    background-color: rgb(201, 208, 214)
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

picture img {
    max-width: 100%;
}