@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #60BF81;
}

section {
    max-width: 60%;
    margin: 10px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.315);
}

.container {
    overflow-x: auto;
}

table {
    width: 500px;
    margin: auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 10px;
    font-family: "Lato", sans-serif;
    font-size: 1em;
}

td {
    text-align: center;
}

caption {
    padding: 8px;
    font-family: "Lato", sans-serif;
    font-size: 1.7em;
    background-color: #038C3E;
    color: white;

}

thead, tfoot {
    background-color: #008F8C;
    color: white;
}

tbody > tr:nth-child(2n) {
    background-color: rgb(208, 236, 236);
}