* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightblue;
}

.container {
    max-width: 70vw;
    height: 400px;
    margin: 10px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.bloco-a, .bloco-b, .bloco-c {
    display: inline-block;
}

.bloco-a {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 5px;
    background-color: #1b1b79;
}

.bloco-b {
    position: absolute;
    top: 100px;
    left: 300px;
    width: 200px;
    height: 200px;
    margin: 5px;
    background-color: red;
}


/* static, valor como padrão do elemento */