* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #60BF81;
}

section {
    max-width: 950px;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #0000cd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

table {
    width: 900px;
    margin: auto;
    border-collapse: collapse;
    background-color: #0000cd;
}

td, th {
    padding: 10px;
    border: 1px solid white;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.05em;
    color: white;
}